In [4]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/1/ROSSTAT_SALARY_RU_2019_normalized.csv')
#назначение индекса существующим столбцом
df = df.set_index('REGION_NAME')
#удаление строк
df1 = df.drop(['Республика Татарстан', 'Республика Марий Эл'], axis = 0)
#сортировка по неубыванию значений стобца salary
df2 = df1.sort_values(by='SALARY')
#возвращение индекса
df2.reset_index(inplace= True)
#смещение индекса для удобсвта
df2.index += 1
df2
#вывод информации по индексу
df2.loc[77].to_frame()

                          77
REGION_NAME  Камчатский край
SALARY                 71553

In [5]:
#вывод метрик
df2.describe()

              SALARY
count      83.000000
mean    38996.975904
std     16613.687743
min     24550.000000
25%     28102.000000
50%     32973.000000
75%     41377.000000
max    101662.000000

In [6]:
#вывод медианы по столбцу
df['SALARY'].median()

32973.0