In [27]:
import numpy as np
from scipy.spatial import distance

In [28]:
import pandas as pd
import io

data = """id,X,Y,Class
1,50,60,0
2,93,51,0
3,55,62,1
4,26,56,0
5,66,81,0
6,18,37,0
7,18,82,0
8,72,13,0
9,98,96,0
10,68,65,1"""
df = pd.read_csv(io.StringIO(data), sep=",", index_col='id')
df

     X   Y  Class
id
1   50  60      0
2   93  51      0
3   55  62      1
4   26  56      0
5   66  81      0
6   18  37      0
7   18  82      0
8   72  13      0
9   98  96      0
10  68  65      1

In [29]:
x = np.array([[56,67]])
df['Euclidean'] = [distance.euclidean(obj, x) for index, obj in df.iloc[:,:2].iterrows()]
df['Manhattan'] = [distance.cityblock(obj, x) for index, obj in df.iloc[:,:2].iterrows()]
df

     X   Y  Class  Euclidean  Manhattan
id
1   50  60      0   9.219544         13
2   93  51      0  40.311289         53
3   55  62      1   5.099020          6
4   26  56      0  31.953091         41
5   66  81      0  17.204651         24
6   18  37      0  48.414874         68
7   18  82      0  40.853396         53
8   72  13      0  56.320511         70
9   98  96      0  51.039201         71
10  68  65      1  12.165525         14

In [31]:
print(min(df['Euclidean']))
print(min(df['Manhattan']))

5.0990195135927845
6

In [32]:
df.sort_values(by='Euclidean', ascending=True).head(3)

     X   Y  Class  Euclidean  Manhattan
id
3   55  62      1   5.099020          6
1   50  60      0   9.219544         13
10  68  65      1  12.165525         14

In [33]:
df.sort_values(by='Manhattan', ascending=True).head(3)

     X   Y  Class  Euclidean  Manhattan
id
3   55  62      1   5.099020          6
1   50  60      0   9.219544         13
10  68  65      1  12.165525         14

In [34]:
y = df['Class']
X = df.drop(columns=['Class','Euclidean','Manhattan'])

In [35]:
from sklearn.neighbors import KNeighborsClassifier

In [36]:
knn = KNeighborsClassifier(n_neighbors = 3, p = 2)
knn.fit(X, y)
knn.predict(x)

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

array([1])

In [37]:
knn = KNeighborsClassifier(n_neighbors = 3, p = 1)
knn.fit(X, y)
knn.predict(x)

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

array([1])